<div th:fragment="header">
    <header class="bg-gray-800 shadow-md relative">
        <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <div class="flex items-center">
                    <a th:href="@{/Index}">
                        <span class="ml-2 text-xl font-extrabold text-white">SMART ACADEMY</span>
                    </a>
                </div>

                <!-- Botón hamburguesa (solo móvil) -->
                <div class="md:hidden">
                    <button id="menu-btn" class="text-white hover:text-emerald-400 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>

                <!-- Menú de navegación -->
                <div id="menu" class="hidden md:flex space-x-6">
                    <a th:href="@{Cursos}"
                        class="text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Cursos</a>
                    <a th:href="@{Instructores}"
                        class="text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Instructores</a>
                    <a th:href="@{Eventos}"
                        class="text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Eventos</a>
                    <a th:href="@{Contacto}"
                        class="text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Contacto</a>
                    <a th:href="@{/login}"><button 
                        class="py-2 px-3 rounded-sm bg-emerald-600 text-white hover:scale-110 transition duration-500">
                        Iniciar Sesión
                    </button></a>

                </div>
            </div>
        </nav>

        <!-- Menú móvil -->
        <div id="mobile-menu" class="md:hidden hidden px-4 pb-4 space-y-2">
            <a th:href="@{Cursos}"
                class="block text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Cursos</a>
            <a th:href="@{Instructores}"
                class="block text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Instructores</a>
            <a th:href="@{Contacto}"
                class="block text-white py-2 px-3 rounded-sm hover:bg-emerald-600 transition duration-500">Contacto</a>
            <a th:href="@{/login}"><button 
                class="py-2 px-3 rounded-sm bg-emerald-600 text-white hover:scale-110 transition duration-500">
                Iniciar Sesión
            </button></a>

        </div>
    </header>


    <script>
        // Menú móvil
        const menuBtn = document.getElementById("menu-btn");
        const mobileMenu = document.getElementById("mobile-menu");
        menuBtn.addEventListener("click", () => {
            mobileMenu.classList.toggle("hidden");
        });

    </script>
</div>