<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartAcademy - Contacto</title>
    <link rel="stylesheet" href="/css/contacto.css" />
    <link href="/css/output.css" rel="stylesheet" />
</head>

<body>

    <main>
        <div th:replace="fragments/header :: header"></div>
        <section class="contacto">
    <div class="formulario">
      <h1>Contáctanos</h1>
      <form>
        <div>
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="Tu nombre" required />
        </div>

        <div>
          <label for="correo">Correo electrónico</label>
          <input type="email" id="correo" placeholder="ejemplo@correo.com" required />
        </div>

        <div>
          <label for="mensaje">Mensaje</label>
          <textarea id="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>
        </div>

        <button type="submit" class="btn">Enviar</button>
      </form>
    </div>
  </section>

    </main>
    <script>
        // Script para abrir/cerrar el menú móvil
        const menuBtn = document.getElementById('menu-btn');
        const mobileMenu = document.getElementById('mobile-menu');

        menuBtn.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>

</html>