<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartAcademy</title>
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/output.css" />
</head>

<body>

    <main>
        <div th:replace="fragments/header :: header"></div>
        <section class="relative grid grid-cols-1 md:grid-cols-1 min-h-screen">

            <div>
            <img
                src="https://png.pngtree.com/background/20210711/original/pngtree-technological-sense-purple-background-material-picture-image_1136349.jpg"
                alt="Playa"
                class="w-full h-full object-cover"
            />
            </div>

            <!-- Capa oscura sobre toda la sección -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- Texto centrado en todo el viewport -->
            <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white px-6 z-10">
                <h1 class="text-4xl md:text-6xl font-extrabold drop-shadow-lg">
                    Bienvenido a SmartAcademy
                </h1>
                <p class="mt-4 text-lg md:text-xl text-gray-200 max-w-xl">
                    Descubre nuestros cursos que te impulsaran a un nuevo nivel en tu <span class="font-semibold text-emerald-600 brightness-140 text-shadow-amber-400">carrera profesional.</span>
                </p>
                <a
                    th:href="@{Cursos}"
                    class="mt-8 inline-block bg-emerald-600 hover:bg-emerald-800 text-white text-lg font-medium px-6 py-3 rounded-md transition duration-300 hover:scale-110"
                >
                    Explorar Cursos
                </a>
            </div>
        </section>

    </main>
    <script>
        // Script para abrir/cerrar el menú móvil
        const menuBtn = document.getElementById('menu-btn');
        const mobileMenu = document.getElementById('mobile-menu');

        menuBtn.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>

</html>